
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Breadcrumb -->
				<!-- Page Title -->
				<div class="container mt-0">
					<div class="row breadcrumb-bar">
				<div class="col-md-6">
					<h3 class="block-title">Typography</h3>
				</div>
				<div class="col-md-6">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">
								<span class="ti-home"></span>
							</a>
						</li>
						<li class="breadcrumb-item">UI Kit</li>
						<li class="breadcrumb-item active">Typography</li>
					</ol>
				</div>
			</div>
			</div>
			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container">	
				<div class="row">
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<!-- Typography Set -->
							<h3 class="widget-title">Headings</h3>
							
							<div class="table-div">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Heading</th>
											<th>Example</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<p><strong>LEVEL 1</strong></p>
	
											</td>
											<td>
												<span class="h1">h1. Bootstrap heading</span>
											</td>
										</tr>
										<tr>
											<td>
												<p><strong>LEVEL 2</strong></p>
	
											</td>
											<td>
												<span class="h2">h2. Bootstrap heading</span>
											</td>
										</tr>
										<tr>
											<td>
												<p><strong>LEVEL 3</strong></p>
	
											</td>
											<td>
												<span class="h3">h3. Bootstrap heading</span>
											</td>
										</tr>
										<tr>
											<td>
												<p><strong>LEVEL 4</strong></p>
	
											</td>
											<td>
												<span class="h4">h4. Bootstrap heading</span>
											</td>
										</tr>
										<tr>
											<td>
                                                <p><strong>LEVEL 5</strong></p>	
	
											</td>
											<td>
												<span class="h5">h5. Bootstrap heading</span>
											</td>
										</tr>
										<tr>
											<td>
                                                <p><strong>LEVEL 6</strong></p>	
											</td>
											<td>
												<span class="h6">h6. Bootstrap heading</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /Typography Set -->
						</div>
						<div class="widget-area-2 proclinic-box-shadow">
							<!-- Typography Set -->
							<h3 class="widget-title">Display headings</h3>
							
							
							<div class="table-div">
								<div class="bd-example bd-example-type">
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>
													<span class="display-1">Display 1</span>
												</td>
											</tr>
											<tr>
												<td>
													<span class="display-2">Display 2</span>
												</td>
											</tr>
											<tr>
												<td>
													<span class="display-3">Display 3</span>
												</td>
											</tr>
											<tr>
												<td>
													<span class="display-4">Display 4</span>
												</td>
											</tr>
                                            
										</tbody>
									</table>
								</div>
							</div>
							<!-- /Typography Set -->
							</div>
							<div class="widget-area-2 proclinic-box-shadow">
							
						</div>
					</div>
	
				</div>
	
			</div>
			<!-- /Main Content -->



{% endblock %}