{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumb -->
				<!-- Page Title -->
				<div class="container mt-0">
					<div class="row breadcrumb-bar">
						<div class="col-md-6">
							<h3 class="block-title">EDIT Patient</h3>
						</div>
						<div class="col-md-6">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/">
										<span class="ti-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item">Patients</li>
								<li class="breadcrumb-item active">EDIT Patient</li>
							</ol>
						</div>
					</div>
				</div>
			<!-- /Page Title -->

			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">edit Patient</h3>
							<form method="post" action="{% url 'p_update' edit.id %}">
								{% csrf_token %}
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="p_id">Patient ID</label>
										<input type="text" value="{{edit.p_id}}" class="form-control" id="p_id" name="p_id" required="true">
									</div>
									<div class="form-group col-md-6">
										<label for="patient-name">Patient Name</label>
										<input type="text" value="{{edit.patient_name}}" class="form-control" placeholder="Patient name" id="patient-name" name="patient_name" required="true">
									</div>
									<div class="form-group col-md-6">
										<label for="dob">Date Of Birth</label>
										<input type="date" value="{{edit.date_of_birth}}" placeholder="Date of Birth" class="form-control" id="dob" name="dob" required="true">
									</div>
									<div class="form-group col-md-6"> 
										<label for="age">Age</label>
										<input type="text" value="{{edit.age}}" placeholder="Age" class="form-control" id="age" name="age" required="true">
									</div>
									<div class="form-group col-md-6">
										<label for="phone">Phone</label>
										<input type="text" value="{{edit.phone}}" placeholder="Phone" class="form-control" id="phone" name="phone" required="true">
									</div>
									<div class="form-group col-md-6">
										<label for="email">Email</label>
										<input type="email" value="{{edit.email}}" placeholder="email" class="form-control" id="Email" name="email" required="true">
									</div>
									<div class="form-group col-md-6">
										<label for="gender">Gender</label>
										<select class="form-control"  value="{{edit.gender}}" id="gender" name="gender" required="true">
											<option>Male</option>
											<option>Female</option>
											<option>Other</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<label for="gender">Status</label>
										<select class="form-control" id="status" name="status" required="true">
											<option>Normal</option>
											<option>Danger</option>
											<option>Pending</option>
											<option>Complete</option>
										</select>
									</div>
									<div class="form-group col-md-12">
										<label for="address">Address</label>
										<textarea  value="{{edit.address}}" class="form-control" id="address" rows="3" name="address" ></textarea>
									</div>

									<div class="form-check col-md-12 mb-2">
										<div class="text-left">
											<div class="custom-control custom-checkbox">
											</div>
										</div>
									</div>
									<div class="form-group col-md-6 mb-3">
										<button type="submit" value="Update"  class="btn btn-primary btn-lg">Update ok</button>
									</div>
								</div>
							</form>
							<!-- Alerts-->
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>🧑‍⚕️!  PLEACE check all your details before Submit! 😊</strong> 
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							
							<!-- /Alerts-->
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
			</div>
			<!-- /Main Content -->
{% endblock %}