#ok{
    width: 100%;
   text-align: center;


  

}
#ik{
    
    color:blue;
    background-color: rgb(44, 12, 113);
}
#ok{
    color:red;
    background-color: rgb(146, 12, 12);
}
#ck{
    color:rgb(152, 184, 152);
    background-color: rgb(18, 119, 10);
}
