html{
    height: 100%;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to bottom, transparent, rgb(15, 19, 20));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    border-radius: 500px;
    background-color: rgb(243, 230, 230);
    border-radius: 500%;
    padding: 2rem;
    border-radius: 50px;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(8, 10, 16, 0.3);
    margin:0 auto;
    width: 300px;
}

form input,
form select,
form textarea {
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(12, 10, 2, 0.3);
    border: none;
    padding: 1em;

}

form button{
    display: block;
    width:100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(12, 33, 34);
    border: none;
    color:hsl(0, 27%, 96%);
    border-radius: 50px;
    cursor:pointer;
    transition: background-color 0.3s ease-in;
}

form button:hover{
    background-color:rgb(2, 28, 28) ;
}

form .errorlist li{
    list-style-type: none;
    color: rgba(232, 237, 238, 0.473);

}

@media screen and (max-width: 600px) {
    form {
        width: 90%; 
    }
}