
<!-- {% extends 'base.html' %} -->
{% block content %}

{% load static %}


<!-- Breadcrumb -->
				<!-- Page Title -->
		
				<div class="container mt-0">
					<div class="row breadcrumb-bar">
						<div class="col-md-6">
							<h3 class="block-title">Pricing</h3>
						</div>
						<div class="col-md-6">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/">
										<span class="ti-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item">Other Pages</li>
								<li class="breadcrumb-item active">Pricing</li>
							</ol>
						</div>
					</div>
				</div>
			<!-- /Breadcrumb -->
			
			<!-- Main Content -->
			<div class="container">		
				<div class="row">
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow pb-3">
								<div class="row">
									<!-- Pricing Item -->
									<div class="col-md-6 col-xl-3 s-margin-2">
										<div class="block block-bordered block-themed text-center">
											<div class="block-header bg-muted">
												<h3 class="block-title-new"><span class="ti-plug"></span> Freelancer</h3>
											</div>
											<div class="block-content bg-body-light">
												<div class="py-2">
													<h2 class="mb-2 pricing-h2">$29</h2>
													<h6 class="text-muted">per month</h6>
												</div>
											</div>
											<div class="block-content pricing-content">
												<div class="py-2">
													<p>
														<strong>3</strong> Projects
													</p>
													<p>
														<strong>1GB</strong> Storage
													</p>
													<p>
														<strong>1</strong> Monthly Backup
													</p>
													<p>
														<strong>10</strong> Clients
													</p>
													<p>
														<strong>Email</strong> Support
													</p>
												</div>
											</div>
											<div class="block-content block-content-full bg-body-light">
												<span class="btn btn-hero-primary disabled px-4">
													<i class="fa fa-check mr-1"></i> Active Plan
												</span>
											</div>
										</div>
									</div>
									<!-- /Pricing Item -->
									
									<!-- Pricing Item -->
									<div class="col-md-6 col-xl-3 s-margin-2">
										<a class="block block-link-pop block-bordered text-center" href="javascript:void(0)">
											<div class="block-header">
												<h3 class="block-title-new"><span class="ti-cloud-up"></span> Startup</h3>
											</div>
											<div class="block-content bg-body-light">
												<div class="py-2">
													<h2 class="mb-2 pricing-h2">$99</h2>
													<h6 class="text-muted">per month</h6>
												</div>
											</div>
											<div class="block-content pricing-content">
												<div class="py-2">
													<p>
														<strong>10</strong> Projects
													</p>
													<p>
														<strong>30GB</strong> Storage
													</p>
													<p>
														<strong>30</strong> Monthly Backups
													</p>
													<p>
														<strong>500</strong> Clients
													</p>
													<p>
														<strong>FULL</strong> Support
													</p>
												</div>
											</div>
											<div class="block-content block-content-full bg-body-light">
												<span class="btn btn-hero-primary px-4" id="openModalButton1">
													<i class="fa fa-arrow-up mr-1"></i> Upgrade
												</span>
											</div>
										</a>
									</div>
									<!-- /Pricing Item -->
								
									<!-- Pricing Item -->
									<div class="col-md-6 col-xl-3 s-margin-2">
										<a class="block block-link-pop block-bordered text-center" href="javascript:void(0)">
											<div class="block-header">
												<h3 class="block-title-new"><span class="ti-briefcase"></span> Business</h3>
											</div>
											<div class="block-content bg-body-light">
												<div class="py-2">
													<h2 class="mb-2 pricing-h2">$249</h2>
													<h6 class="text-muted">per month</h6>
												</div>
											</div>
											<div class="block-content pricing-content">
												<div class="py-2">
													<p>
														<strong>100</strong> Projects
													</p>
													<p>
														<strong>100GB</strong> Storage
													</p>
													<p>
														<strong>90</strong> Monthly Backups
													</p>
													<p>
														<strong>5000</strong> Clients
													</p>
													<p>
														<strong>FULL</strong> Support
													</p>
												</div>
											</div>
											<div class="block-content block-content-full bg-body-light">
												<span class="btn btn-hero-primary px-4" id="openModalButton2">
													<i class="fa fa-arrow-up mr-1"></i> Upgrade
												</span>
											</div>
										</a>
									</div>
									<!-- /Pricing Item -->
								
									<!-- Pricing Item -->
									<div class="col-md-6 col-xl-3">
										<a class="block block-link-pop block-bordered text-center" href="javascript:void(0)">
											<div class="block-header">
												<h3 class="block-title-new"><span class="ti-crown"></span> VIP</h3>
											</div>
											<div class="block-content bg-body-light">
												<div class="py-2">
													<h2 class="mb-2 pricing-h2">$789</h2>
													<h6 class="text-muted">per month</h6>
												</div>
											</div>
											<div class="block-content pricing-content">
												<div class="py-2">
													<p>
														<strong>Unlimited</strong> Projects
													</p>
													<p>
														<strong>Unlimited</strong> Storage
													</p>
													<p>
														<strong>Unlimited</strong> Monthly Backups
													</p>
													<p>
														<strong>Unlimited</strong> Clients
													</p>
													<p>
														<strong>FULL</strong> Support
													</p>
												</div>
											</div>
											<div class="block-content block-content-full bg-body-light">
												<span class="btn btn-hero-primary px-4" id="openModalButton3">
													<i class="fa fa-arrow-up mr-1"></i> Upgrade
												</span>
											</div>
										</a>
									</div>
									<!-- /Pricing Item -->
								</div>
						</div>
					</div>
		
				</div>
		
			</div>
			<!-- /Main Content -->
			<script>
				const openModalButton1 = document.getElementById('openModalButton1');
				openModalButton1.addEventListener('click', function() {
				  // Prevent modal from showing and display alert instead
				event.preventDefault();
				alert('You already upgraded a plan!... pleaase try next month');
				});
			</script>
			<script>
				const openModalButton2 = document.getElementById('openModalButton2');
				openModalButton2.addEventListener('click', function() {
				  // Prevent modal from showing and display alert instead
			event.preventDefault();
				alert('You already upgraded a plan!... pleaase try next month');
				});
			</script>
			<script>
				const openModalButton3 = document.getElementById('openModalButton3');
				openModalButton3.addEventListener('click', function() {
				  // Prevent modal from showing and display alert instead
				event.preventDefault();
				alert('You already upgraded a plan!... pleaase try next month');
				});
			</script>


{% endblock %}