<!DOCTYPE html>
<html>
<head>
    {% load static%}
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/kou_fav4.png' %}">
    <title>Hospital Management System</title>
    <style>
        body {
            background-size: cover;
            /* background-repeat: no-repeat; */
            /* background-position: center; */
            /* background-attachment: fixed; */
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }

        
    </style>
</head>
<body background="{% static 'images/about11.jpg' %}">
    <h1>Hospital Management System</h1>
    <p>A hospital management system is a software application that helps manage all the information related to a hospital. It is designed to simplify and streamline the processes in a hospital. The system can be used to manage patient records, staff schedules, inventory, billing, and more.</p>
    <h2>Features of a Hospital Management System</h2>
    <ul>
        <li>Patient Management</li>
        <li>Appointment Scheduling</li>
        <li>Billing and Insurance</li>
        <li>Inventory Management</li>
        <li>Staff Management</li>
        <li>Reporting and Analytics</li>
    </ul>
    <h2>Benefits of a Hospital Management System</h2>
    <ul>
        <li>Improved Efficiency</li>
        <li>Reduced Errors</li>
        <li>Better Patient Care</li>
        <li>Increased Revenue</li>
    </ul>
</body>
</html>